{
  "inbounds": [
    {
      "port": 8964,
      "listen": "127.0.0.1",
      "protocol": "vmess",
      "settings": {
        "clients": {{ dict(v2ray_uuids | zip_longest([], fillvalue='')) | dict2items | map('json_query','{id:key}') | list | to_json }}
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/v2ray"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    },
    {
      "protocol": "blackhole",
      "settings": {},
      "tag": "blocked"
    }
  ],
  "routing": {
    "rules": [
      {
        "type": "field",
        "ip": ["geoip:private"],
        "outboundTag": "blocked"
      }
    ]
  }
}
